
<footer data-role="footer" data-position="fixed">
    <ul>
        <li><a href="javascript:;" rel="external">@ViewBag.Name</a></li>
        <li><a href="javascript:;" rel="external">我的</a></li>
    </ul>
</footer>