<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="HaoDBConStr" connectionString="metadata=res://*/HaoShare.csdl|res://*/HaoShare.ssdl|res://*/HaoShare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HaoShare;user id=sa;password=wanghao;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HaoDBConStr" connectionString="metadata=res://*/HaoShare.csdl|res://*/HaoShare.ssdl|res://*/HaoShare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qds170127537.my3w.com;initial catalog=qds170127537_db;user id=qds170127537;password=haoshare1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>