
@{
    ViewBag.MainTitle = "好分享平台";
    ViewBag.Title = "好分享";
    ViewBag.PageId = "Home/Index";
}

<div class="ui-content" data-role="content">
    <ul class="slick">
        <li><a href="#"><img src="~/Content/images/ban01.png" /></a></li>
        <li><a href="#"><img src="~/Content/images/ban02.png" /></a></li>
        <li><a href="#"><img src="~/Content/images/ban03.png" /></a></li>
        <li><a href="#"><img src="~/Content/images/ban04.png" /></a></li>
    </ul>
    <ul class="index-menu">
        <li>
            <img src="~/Content/images/icon01.png" />
            <p>保险承保</p>
        </li>
        <li>
            <img src="~/Content/images/icon02.png" />
            <p>当日计息</p>
        </li>
        <li>
            <img src="~/Content/images/icon03.png" />
            <p>续投加息</p>
        </li>
    </ul>
    <dl class="index-year">
        <a href="month.html" data-transition="slide" data-ajax="false">
            <dd>
                <h4>月月盈</h4>
                <p><small>年化</small>6.0%起</p>
            </dd>
            <dt>支持续投，次月起年化收益增加0.1%</dt>
        </a>
    </dl>
    <dl class="index-year">
        <a href="month.html" data-transition="slide" data-ajax="false">
            <dd>
                <h4>季度丰</h4>
                <p><small>年化</small>6.3%起</p>
            </dd>
            <dt>支持续投，次月起年化收益增加0.1%</dt>
        </a>
    </dl>
    <dl class="index-year">
        <a href="month.html" data-transition="slide" data-ajax="false">
            <dd>
                <h4>半年享</h4>
                <p><small>年化</small>6.6%起</p>
            </dd>
            <dt>支持续投，次月起年化收益增加0.1%</dt>
        </a>
    </dl>
</div>
